*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1216px;
    width:100%;
    margin: 0 auto;
    padding: 0 15px;
}
.review{
    max-width: 600px;
    padding-top: 150px;
    margin: auto;
}
.review input{
    padding: 5px 0;
    width: 50%;
    background-color: #D4D4D4;
    border: none;
}
#review2{
    padding: 25px 0;
    width: 70%;
}
#notext{
    margin-right: 30px;
}
.dollar{
    color: #52AC03;
    font-size: 18px;
}
.review label{
    font-size: 17px;
    font-weight: 400;
}
.review h2{
    font-size: 30px;
    font-weight: 400;
}
.sub-feed{
    margin-left: 70px;
    width: 30%;
}
.review a{
    color: #52AC03;
}
@media screen and (max-width:767px){
    .review input{
        width: 20%;
    }
    .sub-feed{
        width: 90% !important;
    }
    #review2{
       width: 50%;
    } 
    #notext{
        margin-right: 0;
    }
    .review{
        margin: 0;
    }
    
}
